body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: gray;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: double;
  border-radius: 30px;
  border-width: 2px;
  padding: 40px;
  width: 40%;
  max-width: 550px;
  margin-top: 8%;
  background-color: lightgray
}
